# Discussion Section 2: Colorado River Basin

## 2. Data Loading

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/data.csv')

## 3. Preliminary data ex

## 5. String accessor for pandas.Series

In [5]:
import numpy as np
import pandas as pd 

# Example series
s = pd.Series(['California; Nevada', 'Arizona', np.nan, 'Nevada; Utah'])
s

0    California; Nevada
1               Arizona
2                   NaN
3          Nevada; Utah
dtype: object

In [7]:
#str accessor (doesnt do anything by itself)
s.str

In [11]:
#add aditional methods 
s.str.split(';', expand = True)  #splits on condition and expands df

            0        1
0  California   Nevada
1     Arizona     None
2         NaN      NaN
3      Nevada     Utah

In [10]:
# Use stack() to flatten data 
s.str.split(';',expand = True).stack() #outputted by row and column

0  0    California
   1        Nevada
1  0       Arizona
3  0        Nevada
   1          Utah
dtype: object

## 6 & 7 & 9. Examining state codes

In [62]:
(df[df['Conflict Present'] == 'Y']['State']
.str #go into string
.split(';', expand = True) #Split vals at ;
.stack() #stack them into a series
.str.strip() #Gets rid of whitespace
.unique()) #outputs unique values

array(['CO', 'AZ', 'OH', 'UT', 'CA', 'NV', 'WY', 'NM'], dtype=object)

Due to inconsistent data sites it becomes an issue to not have repitition. Some conflicts include multiple states and spaces.

In [ ]:
# Bonus:
(df[df['Conflict Present'] == 'Y']['State']
.str #go into string
.split(';', expand = True) #Split vals at ;
.stack() #stack them into a series
.str.strip()