# Pandas 1: series and data frames
Learning objectives
By the end of this lesson, students will be able to:

- Explain the relation between *pandas.Series* and pandas. DataFrame
- Construct simple pandas.Series and pandas. DataFrame from scratch using different initalization methods
- Perform simple operations on *pandas.Series*
- Navigate the pandas documentation to look for attributes and methods of *pandas.Series* and *pandas.DataFrame*

In [1]:
# I know pandas but im pretty bad still. This part i know
import pandas as pd
import numpy as np

# Series

- Series are core objects of pandas
- Series = one dimensional array of indexed data 
- The index is the main difference between series and numpy.array

In [2]:
# Numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr)) #array
print(arr, "\n") #\n creates a break

#A pandas series made from the previous array

s= pd.Series(arr)
print(type(s))
print(s)

#Theres the index

<class 'numpy.ndarray'>
[ 1.66280062 -0.61660409 -0.57777464 -0.37439743]

<class 'pandas.core.series.Series'>
0    1.662801
1   -0.616604
2   -0.577775
3   -0.374397
dtype: float64

## Creating a {pandas.Series}

Basic call: s = pd.Series(data, index=index)
Data:
- list of NumPy array
- python dictionary
- number, boolean, or string
Index:
- optional 
- list of indices

In [3]:
# Ex. creating a Series from a Numpy array

pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [4]:
# Ex. creating a Series from a list
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242']) 
# No index specified -> defaults to 0-(N-1)

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [5]:
# Ex. creating a Series from a dictionary
# Wee need to set keys as well but they just become index
#Make dictionary 
d= {'key_0':2, 'key_1':'3', 'key_2':5}# the type becomes object due to being strings
#& ints

#Initialize series using a dictionary 
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [6]:
# Ex creating pandas series from a single value
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

# Simple operations 
Arithmetic operations work on series ad so most NumPy functions

In [7]:
# Define a series
s = pd.Series([98,73,65], index=['Andrea', 'Beth', 'Carolina'])

# Divide each element by 10 
print(s /10, '\n')

# Take exponential of each element
print(np.exp(s),'\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [8]:
# Can also check conditions
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

# Identifying Missing values
- Null, NA, missing -> flloat = 'not a number'

In [9]:
#Create series with nas
s = pd.Series([1, 2, np.nan, 4, np.nan])
s
#The type is still float

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [10]:
# and hasnans is turue
s.hasnans

True

In [11]:
#Lets see which are NA 
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [17]:
# Check in 1 

#Create a series with -999 as na
s = pd.Series([ 2, -999, 4, -999], index = ['a','b', 'c','d'])


print(s, '\n')
#Now we use can use mask to change the value where the condition is true

s = s.mask(s==(-999), other= np.nan) #Mask expects a condition in this case s == -999
# other = turns them into what I specify in this case np.nan
print(s)

a      2
b   -999
c      4
d   -999
dtype: int64

a    2.0
b    NaN
c    4.0
d    NaN
dtype: float64

# Data Frames 
- Dictionary of pandas.Series |

In [13]:
# Initialize dictionary with columns' data
d = {'col_name_1' : pd.Series(np.arange(3)),
    'col_name_2' : pd.Series([3.1, 3.2, 3.3
                             ])}

#Create df
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [14]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

In [18]:
# Check in 2

df.columns=(['C1','C2'])# This is colnames in R without having to repeat !
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3